{{ define `footer` }}</main></body></html>{{ end }}

{{ define `kidwords/create.html` }}
  {{- template `kidwords/header.html` . -}}

  {{- range .Secret -}}
    <p>Shard: {{ . }}</p>
  {{- end -}}
  {{- template `footer` -}}
{{ end }}

{{ define `kidwords/update.html` }}
  {{- template `kidwords/header.html` . -}}
  UPDATE FORM
  {{- template `footer` -}}
{{ end }}

{{ define `kidwords/list.html` }}
  {{- template `kidwords/header.html` . -}}
  {{- range .PaperKeys -}}
    <h2>{{ . }}</h2>
  {{- end -}}
  {{- template `footer` -}}
{{ end }}
